*{
    margin: 0;
    border: 0;
    padding: 0;
    color:#F0F465;
    font-family: monospace;
    background-color:#533A71;
    text-decoration: none;
}

header{
    height: 20vh;
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    font-size: x-large;
}

main{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 4rem;
    align-items: center;
}

.settings{
    min-width: 100px;
    height: 300px;
    border: 4px #9CEC5B solid;
}
#container {
	position: relative;
	top: 30px;
	outline:4px solid #9CEC5B ;
	font-size: 0;
	margin:auto;
	height:300px;
	width:300px;
	padding: 0;
	border: none;
}

.grid{
    background-color: white;
    display: inline-block;
    outline:1px solid #000;
}

.grid-square{
    display:inline-table;
}

footer{
    gap: 1rem;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



